// Section Three
section.three {
    margin-top: 10px;
    background-color: goldenrod;
    text-align: center;
    padding-bottom: 50px;
    div.boxes {
        @include boxes;
        @include makeGrid;
        .box {
            img {
                margin-top: 40px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            a {
                display: block;
                text-align: center;
                margin: 10px;
                font-size: 1.3rem;
                color: $black;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                color: $black;
            }
            span {
                display: inline-block;
                margin: 10px;
                padding: 10px;
                font-size: 0.9rem;
                border-radius: 5px;
                background-color: $primary-color;
                color: $black;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(197, 193, 193);
                }
            }
            &.box-two {
                span {
                    margin-top: 30px;
                }
            }
            &.box-three {
                span {
                    margin-top: 30px;
                }
            }
        }
    }
}